{% extends "main/base.html" %}
{% load static %}

{% block content %}

{% include "main/post_item.html" %}

<div class="comment-list">
    <h2>コメント</h2>

    <form action="" method="post" class="form comment_form top-form">
        {% csrf_token %}
        {{ form.errors }}
        <div class="box">
            <div class="icon">
                <img src="{{ request.user.icon_url }}">
            </div>
            <div class="form-field">
                <textarea placeholder="コメントを追加" name="content" id="id_content" cols="30" rows="1"></textarea>
            </div>
        </div>

        <div class="button-field form-field--submit">
            <label for="{{ form.is_anonymous.id_for_label }}">
                匿名送信{{ form.is_anonymous }}
            </label>
            <button type="submit" class="round-button">コメント</button>
        </div>
    </form>

    {% for comment in comments %}
        {% if not comment.parent %}
            {% include "main/items/comment_item.html" with comment=comment %}
        {% endif %}

        {% for child in comment.children.all %}
            {% include "main/items/comment_item.html" with comment=child is_child=True parent_pk=comment.pk %}
        {% endfor %}

    {% endfor %}
</div>



{% endblock content %}

{% block footer %}{% include "main/footer.html" with has_floating_button=True %}{% endblock %}

{% block extra_js %}
<script src="{% static 'main/js/action-menu.js' %}"></script>
<script src="{% static 'main/js/like-post.js' %}"></script>
<script src="{% static 'main/js/comment-form.js' %}"></script>
{% endblock %}